html {
  font-size: 10px;
}

body {
  font-family: $sanSerif, sans-serif;
  font-size: 1.6rem;
  font-weight: 300;
  padding: $spacing*2;
  background: $gray-100;
  color: $gray;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $serif, serif;
  font-weight: 400;
  margin: 0 0 0.5em;
  padding: 0;
  color: $primary;
}

[content] {
  background: $white;
  padding: $spacing*2;
  line-height: 1.8;
}

p {
  margin: 0;
  * + & {
    margin: 2rem 0 0;
  }
}
