// Primary
$primary: #F8CC1C !default;
$primary-100: #F9EF7A !default;
$primary-200: #F8E01C !default;
$primary-300: $primary !default;
$primary-400: #F8AA1C !default;
$primary-500: #C98812 !default;

// Secondary
$secondary: #849ED4 !default;
$secondary-100: #EAF0FB !default;
$secondary-200: #C7D6F3 !default;
$secondary-300: $secondary !default;
$secondary-400: #556994 !default;
$secondary-500: #2B3A59 !default;

// White/Gray/Black
$white: #fff !default;

$gray: #636363 !default;
$gray-100: #F9F7F7 !default;
$gray-200: #BFBFBF !default;
$gray-300: $gray !default;
$gray-400: #343434 !default;
$gray-500: #222 !default;

$black: #000 !default;

// Notifications/Communication
$info: #188AC9 !default;
$info-100: #D4ECF9 !default;
$info-200: #6DB7E0 !default;
$info-300: $info !default;
$info-400: #0F6A9C !default;

$success: #28C262 !default;
$success-100: #DEF5E7 !default;
$success-200: #80E5A6 !default;
$success-300: $success !default;
$success-400: #1F8E49 !default;

$error: #F50C0C !default;
$error-100: #FFD8D8 !default;
$error-200: #F17F7F !default;
$error-300: $error !default;
$error-400: #C20707 !default;

$warning: #FA9C00 !default;
$warning-100: #FFEAD9 !default;
$warning-200: #FEC392 !default;
$warning-300: $warning !default;
$warning-400: #D06206 !default;
